<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <title>All user</title>
</head>
<body>
<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
<table>
    <tr>
        <th>Id user</th>
        <th>Username</th>
        <th>Lastname</th>
        <th>E-mail</th>
        <th>Roles</th>
    </tr>
    <th:block th:each="user: ${users}">
        <tr>
            <td th:text="${user.getId()}"/>
            <td th:text="${user.getFirsName()}"/>
            <td th:text="${user.getLastName()}"/>
            <td><a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getEmail()}"></a></td>
            <td>
                <th:block th:each="role : ${user.getRoles()}">
                    <p th:text="${role.toString()}"/>
                </th:block>
            </td>
            <td>
                <a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}">
                    <input type="button" value="Update">
                </a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </th:block>
</table>
<br>
<a th:href="@{/admin/newUser}">
    <input type="button" value="Add new user"/>
</a>
<br>
<br><br>
<form action="/logout">
    <button type="submit">Logout</button>
</form>
</body>
</html>