<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
<h1 th:text="${'Hello ' + authUser.getFirsName()}"/>
<br>
<p th:text="${'Your id: ' + authUser.getId()}"/>
<br>
<p th:text="${'Your firs name: ' + authUser.getFirsName()}"/>
<br>
<p th:text="${'Your lastname: ' + authUser.getLastName()}"/>
<br>
<p th:text="${'Your email: ' + authUser.getEmail()}"/>
<br><br>
<form action="/logout">
    <button type="submit">logout</button>
</form>
</body>
</html>